USE [master]
GO
/****** Object:  Database [db_otopark]    Script Date: 29.05.2022 12:09:44 ******/
CREATE DATABASE [db_otopark]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_otopark', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_otopark.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_otopark_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_otopark_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_otopark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_otopark]
GO
/****** Object:  Table [dbo].[araclar]    Script Date: 29.05.2022 12:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[araclar](
	[aracId] [int] IDENTITY(1,1) NOT NULL,
	[aracPlaka] [nvarchar](20) NOT NULL,
	[aracMarka] [nvarchar](20) NOT NULL,
	[aracRenk] [nvarchar](15) NOT NULL,
	[kisiId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[aracId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giris]    Script Date: 29.05.2022 12:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giris](
	[kullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAd] [nvarchar](20) NOT NULL,
	[kullaniciSifre] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kisiler]    Script Date: 29.05.2022 12:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kisiler](
	[kisiId] [int] IDENTITY(1,1) NOT NULL,
	[kisiTc] [nvarchar](11) NOT NULL,
	[kisiAd] [nvarchar](30) NOT NULL,
	[kisiSoyad] [nvarchar](30) NOT NULL,
	[kisiTelNo] [nvarchar](11) NOT NULL,
	[Adres] [nvarchar](180) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otoparklar]    Script Date: 29.05.2022 12:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otoparklar](
	[otoparkId] [int] IDENTITY(1,1) NOT NULL,
	[otoparkAd] [nvarchar](30) NOT NULL,
	[otoparkSehir] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otoparkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parkYeri]    Script Date: 29.05.2022 12:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parkYeri](
	[parkId] [int] IDENTITY(1,1) NOT NULL,
	[parkYeri] [nvarchar](20) NOT NULL,
	[aracId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[araclar]  WITH CHECK ADD  CONSTRAINT [FK_araclar_kisiler] FOREIGN KEY([kisiId])
REFERENCES [dbo].[kisiler] ([kisiId])
GO
ALTER TABLE [dbo].[araclar] CHECK CONSTRAINT [FK_araclar_kisiler]
GO
ALTER TABLE [dbo].[parkYeri]  WITH CHECK ADD  CONSTRAINT [FK_parkYeri_araclar] FOREIGN KEY([aracId])
REFERENCES [dbo].[araclar] ([aracId])
GO
ALTER TABLE [dbo].[parkYeri] CHECK CONSTRAINT [FK_parkYeri_araclar]
GO
USE [master]
GO
