@{
    ViewBag.Title = "Index";
}

<img style="border-radius: 0px 0px 5px 5px; padding-left:600px; " class="responsive-img d-inline" src="~/Content/img/a.png">
<section class="services_area align-content-center justify-content-center d-inline">
    <div class="container row">
        <div class="col m4 s6">
            <div class="services_item">
                <h2>Online Üye Sayısı</h2>
                <a href="/Cerez/OnlineUyeSayisi" class="waves-effect waves-light btn">Online Üye</a>
            </div>
        </div>
        <div class="col m4 s6">
            <div class="services_item">
                <h2>Çerez Oluştur</h2>
                <a href="/Cerez/Olustur" class="waves-effect waves-light btn">Çerez Ekle</a>
            </div>
        </div>
        <div class="col m4 s6">
            <div class="services_item">
                <h2>Otopark Kayıt</h2>
                <a href="/Home/kayit" class="waves-effect waves-light btn">Kayıt</a>
            </div>
        </div>
        <div class="col m4 s6">
            <div class="services_item">
                <h2>Otoparktan Araç Çıkışı</h2>
                <a href="/Arac/AracBilgi" class="waves-effect waves-light btn">Otoparktan Araç Çıkışı</a>
            </div>
        </div>
        <div class="col m4 s12">
            <div class="services_item">
                <h2>Otopark Durumu</h2>
                <a href="/Durum/otoparkdurumu" class="waves-effect waves-light btn">Otopark Durumu</a>
            </div>
        </div>
    </div>
</section>
