@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col m12">
            <img style="border-radius: 0px 0px 5px 5px;" class="responsive-img z-depth-2" src="~/Content/img/banner.jpg">
        </div>
    </div>
</div>
<!-- Section 1-->
<!--================Start Services_area =================-->
<section class="services_area">
    <div class="container">
        <div class="row">
            <div class="col m4 s6">
                <div data-line="❤" class="services_item">
                    <div class="round_icon">
                        <img src="~/Content/img/parking1.png" alt="icon">
                    </div>
                    <h2>Apartman Sakini Kayıt</h2>
                    <p>Apartman Sakinlerinin, Araçlarını ve Kendilerini Kayıt Edebildikleri Yer. </p>
                    <a href="/Home/kayit" class="waves-effect waves-light btn">Kayıt</a>
                </div>
            </div>
            <div class="col m4 s6">
                <div data-line="❤" class="services_item">
                    <div class="round_icon">
                        <img src="~/Content/img/valet-parking.png" alt="icon">
                    </div>
                    <h2>Otoparktan Araç Çıkışı</h2>
                    <p>Apartman Sakini Otoparktan Ayrıldığında Aracını Ayırabileceği Yer.</p>
                    <a href="/Arac/AracCikis" class="waves-effect waves-light btn">Otoparktan Araç Çıkışı</a>
                </div>
            </div>
            <div class="col m4 s12">
                <div data-line="❤" class="services_item">
                    <div class="round_icon">
                        <img src="~/Content/img/parking-icon-2.png" alt="icon">
                    </div>
                    <h2>Otopark Durumu</h2>
                    <p>Park Halinde Olan Araçlarınızı Hangi Aracın Hangi Park Yerinde Olduğunu Görebilirsiniz. </p>
                    <a href="/Durum/otoparkdurumu" class="waves-effect waves-light btn">Otopark Durumu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Services_area =================-->
<!-- Section 1 Bitiş-->