@model Otopark_Uygulmasi.Models.db.OtoparklarBaglanti
@{
    ViewBag.Title = "Otopark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hhhhhh</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="from-group">
            @Html.DropDownListFor(Model => Model.OtoparkList, Model.OtoparkList, "Otopark Seçin", new { @class = "form-control" })
        </div>
    </div>
}

