@model Otopark_Uygulmasi.Models.db.OtoparklarBaglanti
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hhhhhh</h2>
@using (Html.BeginForm("Create", "DropDown", FormMethod.Post))
{
    <div class="container">
        <div class="from-group">
            @Html.DropDownListFor(Model=> Model.kisiId, Model.kisiList, "Otopark Seçin", new { @class = "form-control" })
        </div>
    </div>
}
