@model Otopark_Uygulmasi.Models.db.OtoparklarBaglanti
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Otoparklar Drop Down</h2>
<h3>Çalışmıyor :(</h3>
@using (Html.BeginForm("Create", "DropDown", FormMethod.Post))
{
    <div class="container">
        <div class="from-group">
            @Html.DropDownListFor(Model=> Model.otoparkId, Model.otoparkList , "Otopark Seçin", new { @class = "form-control" })
        </div>
    </div>
}
